
@{
    ViewData["Title"] = "Product Categories";
}
<div class="page-header">
    <h2 class="text-center">Product Categories</h2>
</div>
<script src="~/js/ViewModels/CategoryViewModel.js"></script>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Register new category</h2>
            </div>

            <div class="panel-body" data-bind="with: addCategoryViewModel">
                @Html.Partial("_EditCategory")
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Registered Product Categories</h2>
            </div>
            <div class="panel-body" data-bind="with: categoryListViewModel">
                @Html.Partial("_CategoriesList")
            </div>
        </div>
    </div>

</div> 


