
@{
    ViewData["Title"] = "Close Order";
}
<div class="page-header">
    <h2 class="text-center">Close Order</h2>
</div>
<script src="~/js/ViewModels/SaleViewModel.js"></script>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Choose payment method</h2>
            </div>

            <div class="panel-body">
                @Html.Partial("_CloseOrder")
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Your cart</h2>
            </div>
            <div class="panel-body">
                @Html.Partial("_ItemsList")
            </div>
        </div>
    </div>

    <input type="button" id="btnReviewCart" class="btn btn-danger" value="Review your cart" data-bind="click: reviewCart" />
    
</div> 


